<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>NEWS | Ammo service</title>
    <link rel="stylesheet" href="index.css">
</head>
<body>
<div id="block_top">
    <div id="block_top_left">
        <div id="block_top_left_img">

        </div>
        <div id="block_top_left_txt">
            <a><h1 id="h1_top">Веб-технології та веб-дизайн</h1></a>
            <h2>Служба озброєння ВВНЗ</h2>
        </div>
    </div>
    <div id="block_top_right">
        <div id="block_top_right_buttons">
            <div id="block_top_right_buttons_all">
                <form action="/dashboard" method="get">
                    <button class="button_top" type="submit">Головна</button>
                </form>
                <form>
                    <a class="button_top" href="gallery.html">Галерея</a>
                </form>
                <form>
                    <a class="button_top" href="about.html">Про проект</a>
                </form>
            </div>
        </div>
    </div>
</div>
<div id="block_middle">
    <div id="block_middle_info">
        <div id="block_middle_info_inside_news">
            <h2>Ласкаво просимо до веб-порталу служби озброєння ВВНЗ </h2>
            <div class="block_middle_news">
                <div class="block_middle_news_img">
                    <img class="img_inside" src="gallery/first.jpg" alt="">
                </div>
                <div class="block_middle_news_info">
                    <h2>Нові поставки боєприпасів</h2>
                    <p class="p_on_black">У зв'язку з кризовою ситуацією на кордонах держави <br>
                        та беручи до уваги необхідність здійснення превентивних заходів <br>
                        спеціальною радою безпеки було прийнято рішення про  <br>
                        здійснення поставки додаткових боєприпасів калібку 5.45мм</p>
                </div>
            </div>
            <div class="block_middle_news">
                <div class="block_middle_news_img">
                    <img class="img_inside" src="gallery/second.jpg" alt="">
                </div>
                <div class="block_middle_news_info">
                    <h2>Нова подія служби озброєння</h2>
                    <p class="p_on_black">Lorem ipsum dolor do lo plus <br>
                        Lorem ipsum dolor do lo plus<br>
                        Lorem ipsum dolor do lo plus<br>
                        Lorem ipsum dolor do lo plus </p>
                </div>
            </div>
            <div class="block_middle_news">
                <div class="block_middle_news_img">
                    <img class="img_inside" src="gallery/third.jpg" alt="">
                </div>
                <div class="block_middle_news_info">
                    <h2>Нова подія служби озброєння</h2>
                    <p class="p_on_black">Lorem ipsum dolor do lo plus <br>
                        Lorem ipsum dolor do lo plus<br>
                        Lorem ipsum dolor do lo plus<br>
                        Lorem ipsum dolor do lo plus </p>
                </div>
            </div>
            <div class="block_middle_news">
                <div class="block_middle_news_img">
                    <img class="img_inside" src="gallery/fourth.jpg" alt="">
                </div>
                <div class="block_middle_news_info">
                    <h2>Нова подія служби озброєння</h2>
                    <p class="p_on_black">Lorem ipsum dolor do lo plus <br>
                        Lorem ipsum dolor do lo plus<br>
                        Lorem ipsum dolor do lo plus<br>
                        Lorem ipsum dolor do lo plus </p>
                </div>
            </div>
            <div class="block_middle_news">
                <div class="block_middle_news_img">
                    <img class="img_inside" src="gallery/fiveth.jpg" alt="">
                </div>
                <div class="block_middle_news_info">
                    <h2>Нова подія служби озброєння</h2>
                    <p class="p_on_black">Lorem ipsum dolor do lo plus <br>
                        Lorem ipsum dolor do lo plus<br>
                        Lorem ipsum dolor do lo plus<br>
                        Lorem ipsum dolor do lo plus </p>
                </div>
            </div>
            <div class="block_middle_news">
                <div class="block_middle_news_img">
                    <img class="img_inside" src="gallery/six.jpg" alt="">
                </div>
                <div class="block_middle_news_info">
                    <h2>Нова подія служби озброєння</h2>
                    <p class="p_on_black">Lorem ipsum dolor do lo plus <br>
                        Lorem ipsum dolor do lo plus<br>
                        Lorem ipsum dolor do lo plus<br>
                        Lorem ipsum dolor do lo plus </p>
                </div>
            </div>
            <div class="block_middle_news">
                <div class="block_middle_news_img">
                    <img class="img_inside" src="gallery/seven.jpg" alt="">
                </div>
                <div class="block_middle_news_info">
                    <h2>Нова подія служби озброєння</h2>
                    <p class="p_on_black">Lorem ipsum dolor do lo plus <br>
                        Lorem ipsum dolor do lo plus<br>
                        Lorem ipsum dolor do lo plus<br>
                        Lorem ipsum dolor do lo plus </p>
                </div>
            </div>
            <div class="block_middle_news">
                <div class="block_middle_news_img">
                    <img class="img_inside" src="gallery/eight.jpg" alt="">
                </div>
                <div class="block_middle_news_info">
                    <h2>Нова подія служби озброєння</h2>
                    <p class="p_on_black">Lorem ipsum dolor do lo plus <br>
                        Lorem ipsum dolor do lo plus<br>
                        Lorem ipsum dolor do lo plus<br>
                        Lorem ipsum dolor do lo plus </p>
                </div>
            </div>
            <div class="block_middle_news">
                <div class="block_middle_news_img">
                    <img class="img_inside" src="gallery/nine.jpg" alt="">
                </div>
                <div class="block_middle_news_info">
                    <h2>Нова подія служби озброєння</h2>
                    <p class="p_on_black">Lorem ipsum dolor do lo plus <br>
                        Lorem ipsum dolor do lo plus<br>
                        Lorem ipsum dolor do lo plus<br>
                        Lorem ipsum dolor do lo plus </p>
                </div>
            </div>
            <div class="block_middle_news">
                <div class="block_middle_news_img">
                    <img class="img_inside" src="gallery/second.jpg" alt="">
                </div>
                <div class="block_middle_news_info">
                    <h2>Нова подія служби озброєння</h2>
                    <p class="p_on_black">Lorem ipsum dolor do lo plus <br>
                        Lorem ipsum dolor do lo plus<br>
                        Lorem ipsum dolor do lo plus<br>
                        Lorem ipsum dolor do lo plus </p>
                </div>
            </div>

        </div>
    </div>
    <div>

    </div>
</div>
<div id="block_bottom_news">
    <h1 class="h1_bot">© Проект розроблено курсантом 281 навчальної групи </h1>
    <h1 class="h1_bot">пані КОВБА Мирославою Андріївною</h1>
</div>
</body>
</html>