<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Web page </title>
</head>
<body>
<div id="block_top">
  <div id="block_top_left">
    <div id="block_top_left_img">

    </div>
    <div id="block_top_left_txt">
      <a><h1 id="h1_top">Веб-технології та веб-дизайн</h1></a>
      <h2>Служба озброєння ВВНЗ</h2>
    </div>
  </div>
  <div id="block_top_right">
    <div id="block_top_right_buttons">
      <div id="block_top_right_buttons_all">
        <h3 id="block_top_right_txt">
       <a href="users/register">Реєстрація</a> | <a href="users/login">Авторизація</a> </h3>
      </div>
    </div>
  </div>
</div>
<div id="block_middle_sing">
  <div id="block_middle_info_sing">
    <div id="block_middle_info_inside">
      <h2>Ласкаво просимо до веб-порталу служби озброєння ВВНЗ <br>
        Оберіть одну з наступних дій: якщо ви вже маєте обліковий запис в системі, <br>
        будь ласка, авторизуйтеся.<br>
        Інакше зареєструйте нового користувача.
      </h2>
    </div>
      <div class="row mt-5">
        <div class="col-md-6 m-auto">
          <div class="card card-body text-center">
            <div id="block_middle_buttons_sing">
           <p class="button_top_sing"> <a href="/users/register" class="btn btn-primary btn-block mb-2">Register</a></p>
            <p class="button_top_sing"> <a href="/users/login" class="btn btn-secondary btn-block">Login</a> </p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div>
  </div>
</div>
<div id="block_bottom">
  <h1 class="h1_bot">© Проект розроблено курсантом 281 навчальної групи </h1>
  <h1 class="h1_bot"> пані КОВБА Мирославою Андріївною</h1>
</div>
</body>
</html>
